.user-item {
	width: 16em;
	margin: 1em;
	padding: 1em;

	border-radius: var(--blockBorderRadius);
	background-color: white;
	box-shadow: var(--boxShadow);

	font-family: var(--fontFamily);
}

.user-item__link {
	margin: 0;

	text-decoration: none;

	color: black;

	font-size: 1.25em;
	font-weight: 900;
}

.user-item__link:hover {
	transition: var(--titleTransition);
	color: var(--accentColor);
}

.user-item__fullname {
	margin: 0;

	cursor: default;

	color: black;

	font-size: 0.8em;
}
