:root {
    --accentColor: #2856B6;

    --fontFamily: Poppins, serif;
}

.advert-item__article {
	width: 20em;
	margin: 1em;

	border-radius: 0.5em;
	background-color: white;
	box-shadow: 0 0.8em 2em rgba(0,0,0,0.25), 0 0.5em 0.75em rgba(0,0,0,0.22);
}

.advert-item__article > img {
	width: 100%;

	border-radius: 0.5em 0.5em 0 0;
}

.advert-item__content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 0;
	padding: 1em;

	font-family: var(--fontFamily);
}

.advert-item__title {
	margin: 0;

	text-decoration: none;

	color: black;

	font-size: 1.1em;
	font-weight: 600;
}

.advert-item__title:hover {
	transition: 0.3s;

	color: var(--accentColor);
}

.advert-item__owner {
	overflow: hidden;

	margin: 0.25em 0;

	text-overflow: ellipsis;

	font-size: 0.75em;
}

.advert-item__price {
	margin: 0 0 0 2em;

	color: #2856b6;

	font-size: 1.4em;
	font-weight: 600;
}
