:root {
    --borderColor: #ABABAB;
    --accentColor: #2856B6;
    --placeholderColor: silver;
    --errorColor: #FF4040;
    --buttonActive: #e5e5e5;

    --inputFontSize: 1em;
    --inputPadding: 0.25em;

    --indent: 0.5em;

    --outline: none;

    --fontFamily: Poppins, serif;

    --border: 2px solid var(--borderColor);
    --borderRadius: 0.3em;
    --borderActive: 2px solid var(--accentColor);

    --placeholderOpacity: 0;
    --placeholderTransition: opacity 0.75s ease;

    --buttonShadow: inset 0 0 0.25em #c1c1c1;
}

.create-advert__form {
	width: 50%;
	padding: 1.5em 2em;

	border-radius: 0.5em;
	background-color: white;
	box-shadow: 0 0.8em 2em rgba(0,0,0,0.25), 0 0.5em 0.75em rgba(0,0,0,0.22);
}

.create-advert__content {
	display: flex;
	flex-direction: column;

	padding: var(--indent);
}

.create-advert__label {
	padding-bottom: 0.3em;

	color: var(--accentColor);

	font-family: var(--fontFamily);
	font-size: 0.85em;
	font-weight: 900;
}

/* =============== CREATE-ADVERT__INPUT =============== */

.create-advert__input {
	height: 2em;
	padding: var(--inputPadding);

	border: none;
	border-bottom: var(--border);
	outline: var(--outline);
	background-color: transparent;

	font-family: var(--fontFamily);
	font-size: var(--inputFontSize);
}

.create-advert__input:focus {
	border: none;
	border-bottom: var(--borderActive);
}

.create-advert__input:focus::-webkit-input-placeholder {
	transition: var(--placeholderTransition);

	opacity: var(--placeholderOpacity);
}

.create-advert__input:focus::-moz-placeholder {
	transition: var(--placeholderTransition);

	opacity: var(--placeholderOpacity);
}

.create-advert__input:focus:-moz-placeholder {
	transition: var(--placeholderTransition);

	opacity: var(--placeholderOpacity);
}

.create-advert__input:focus:-ms-input-placeholder {
	transition: var(--placeholderTransition);

	opacity: var(--placeholderOpacity);
}

/* =============== CREATE-ADVERT__TEXTAREA =============== */

.create-advert__textarea {
	height: 10em;
	padding: var(--inputPadding);

	resize: none;

	border: var(--border);
	border-radius: var(--borderRadius);
	outline: var(--outline);
	background-color: transparent;

	font-family: var(--fontFamily);
	font-size: var(--inputFontSize);
}

.create-advert__textarea:focus {
	border: var(--borderActive);
}

.create-advert__textarea:focus::-webkit-input-placeholder {
	transition: var(--placeholderTransition);

	opacity: var(--placeholderOpacity);
}

.create-advert__textarea:focus::-moz-placeholder {
	transition: var(--placeholderTransition);

	opacity: var(--placeholderOpacity);
}

.create-advert__textarea:focus::-moz-placeholder {
	transition: var(--placeholderTransition);

	opacity: var(--placeholderOpacity);
}

.create-advert__textarea:focus::-ms-input-placeholder {
	transition: var(--placeholderTransition);

	opacity: var(--placeholderOpacity);
}

/* =============== CREATE-ADVERT__SELECT =============== */

.create-advert__select {
	border: var(--border);
	border-radius: var(--borderRadius);
	outline: var(--outline);

	font-family: var(--fontFamily);
	font-size: var(--inputFontSize);
}

.select-selected {
	background-color: red;
}

.create-advert__select:focus {
	border: var(--borderActive);
}

/* =============== CREATE-ADVERT__BUTTON =============== */

.create-advert__button {
	margin: var(--indent);
	padding: 0.5em 1em;

	cursor: pointer;
	transition: 0.3s;

	color: white;
	border: none;
	border-radius: var(--borderRadius);
	outline: var(--outline);
	background-color: var(--accentColor);

	font-family: var(--fontFamily);
	font-size: 0.95em;
}

.create-advert__button:active {
	background-color: var(--buttonActive);
	-webkit-box-shadow: var(--buttonShadow);
	-moz-box-shadow: var(--buttonShadow);
	box-shadow: var(--buttonShadow);
}

/* ===================================================== */

.create-advert__error {
	margin-bottom: 0;

	text-align: center;

	color: var(--errorColor);

	font-family: var(--fontFamily);
	font-size: 1em;
}
