.user-advert-item {
	display: flex;
	align-items: center;

	font-family: var(--fontFamily);
}

.user-advert-item-info__item {
	display: inline;

	padding-left: 1.5em;

	list-style-type: none;
}


.user-advert-item__link {
	flex-grow: 2;

	text-decoration: none;

	color: black;
}

.user-advert-item__link:hover {
	transition: var(--titleTransition);

	color: var(--accentColor);
}
