/* ======================== ADVERT ===================== */

.advert {
	width: 20em;
	margin: 1em;

	border-radius: var(--blockBorderRadius);
	background-color: var(--blockBgColor);
	box-shadow: var(--boxShadow);
}

.advert_img {
	width: 100%;

	border-radius: var(--blockBorderRadius) var(--blockBorderRadius) 0 0;
}


/* ===================== ADVERT-CONTENT ================ */

.advert-content {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 0;
	padding: 1em;

	font-family: var(--fontFamily);
}

.advert-content__price {
    margin-left: 2em;

    cursor: default;

    color: var(--accentColor);

    font-size: 1.4em;
    font-weight: 600;
}


/* ====================== ADVERT-TEXT ================== */

.advert-text__title {
	margin: 0;

	text-decoration: none;

	color: black;

	font-size: 1.1em;
	font-weight: 600;
}

.advert-text__title:hover {
	transition: var(--titleTransition);

	color: var(--accentColor);
}

.advert-text__owner {
	overflow: hidden;

	margin: 0.25em 0;

	cursor: default;
	text-overflow: ellipsis;

	font-size: 0.75em;
}
