.user-details-content {
	margin-bottom: 1.5em;

	font-family: var(--fontFamily);
}

.user-details-content__p-item {
	margin: 0.5em 0 1.5em 0;
}

/* ================== USER'S ADVERTS ================= */

.list-header {
	display: flex;

	margin: 1em 0;
	padding: 0;

	list-style-type: none;

	font-family: var(--fontFamily);
	font-size: 0.85em;
	font-weight: 900;
}

.list-header__title {
	display: inline;
	flex-grow: 2;
}

.list-header__view {
	padding-right: 3em;
}
