:root {
    --accentColor: #2856B6;

    --fontFamily: Poppins, serif;
}

.user-details__div {
    width: 50%;
    padding: 1.5em 2em;
    border-radius: 0.5em;
    background-color: white;
    box-shadow: 0 0.8em 2em rgba(0,0,0,0.25), 0 0.5em 0.75em rgba(0,0,0,0.22);
    font-family: var(--fontFamily);
}

.user-details__head {
    color: var(--accentColor);
    text-align: center;
    margin: 1em 0 2em 0;
}

.user-details__content {
    margin-bottom: 1.5em;
}

.user-details__h5 {
    color: var(--accentColor);
    margin: 0;
}

.user-details__p {
    margin: 0.5em 0 1.5em 0;
}

.user-details__advert-head {
    display: flex;
    font-family: var(--fontFamily);
    font-weight: 900;
    font-size: 0.85em;
    margin: 1em 0;
}

.user-details__advert-head > span {
    flex-grow: 2;
}

.user-details__advert-head-ul {
    margin: 0;
}

.user-details__advert-head-ul > li {
    padding-left: 3em;
    display: inline;
    list-style-type: none;
}
