.auth-list {
	display: inline;
}

.auth-list__item {
	display: inline;

	padding: 1em;
}

.auth-list__link {
	text-decoration: none;

	color: whitesmoke;

	font-family: Poppins, serif;
	font-size: 1em;
}
