@media (min-width: 1440px) {
    .advert-list {
        width: 88em;
    }

    .users-list {
        width: 80em;
    }
}

@media (min-width: 1100px) and (max-width: 1439px) {
    main {
        font-size: 16px;
    }

    .advert-list {
        width: 66em;
    }

    .users-list {
        width: 60em;
    }

}

@media (min-width: 900px) and (max-width: 1099px) {
    main {
        font-size: 15px;
    }

    .advert-list {
        width: 44em;
    }

    .users-list {
        width: 40em;
    }

    .block {
        width: 45em;
    }

    .advert-details {
        width: 45em;
    }
}

@media (min-width: 700px) and (max-width: 899px) {
    main {
        font-size: 15px;
    }

    .advert-list {
        width: 44em;
    }

    .users-list {
        width: 40em;
    }

    .block {
        width: 37.5em;
    }

    .advert-details {
        width: 37.5em;
    }
}

@media (min-width: 600px) and (max-width: 699px) {
    main {
        font-size: 14px;
    }

    .advert-list {
        justify-content: center;
        width: 32.5em;
    }

    .advert {
        width: 32.5em;
    }

    .users-list {
        justify-content: center;
        width: 25em;
    }

    .user-item {
        justify-content: center;
        width: 25em;
    }

    .block {
        width: 35em;
    }

    .advert-details {
        width: 35em;
    }
}

@media (max-width: 599px) {
    main {
        font-size: 14px;
    }

    .advert-list {
        justify-content: center;
        width: 27.5em;
    }

    .advert {
        width: 27.5em;
    }

    .users-list {
        justify-content: center;
        width: 25em;
    }

    .user-item {
        justify-content: center;
        width: 25em;
    }

    .block {
        width: 32.5em;
    }

    .advert-details {
        width: 32.5em;
    }
}
