:root {
	--borderColor: #ABABAB;
	--accentColor: #2856B6;
	--placeholderColor: silver;
	--errorColor: #FF4040;
	--buttonActive: #e5e5e5;
	--blockBgColor: white;

	--inputFontSize: 1em;
	--inputPadding: 0.25em;

	--space: 2rem;

	--outline: none;

	--fontFamily: Poppins, serif;

	--titleTransition: 0.3s;
	--buttonTransition: 0.3s;
	--placeholderTransition: opacity 0.5s ease;

	--border: 2px solid var(--borderColor);
	--blockBorderRadius: 0.5em;
	--borderRadius: 0.3em;
	--borderActive: 2px solid var(--accentColor);

	--placeholderOpacity: 0;

	--buttonShadow: inset 0 0 0.25em #c1c1c1;
	--boxShadow: 0 0.8rem 2rem rgba(0,0,0,0.25), 0 0.5rem 0.75rem rgba(0,0,0,0.22);
}


html {
	height: 100%;
}

body {
	min-width: 550px;
	height: 100%;
	margin: 0;
	padding: 0;

	background-color: #f2f2f2;
}

#root {
	display: flex;
	flex-direction: column;

	height: 100%;
}

main {
	display: flex;
	align-content: flex-start;
	flex: 1 0 auto;
	flex-wrap: wrap;
	justify-content: center;

	font-size: 16px;
}

footer {
	flex: 0 0 auto;

	height: 1em;
	margin-top: 4em;

	background-color: var(--accentColor);
}


/* ==================== BREADCRUMBS ==================== */

.breadcrumbs {
	margin: 2em 0;

	text-align: center;
}

.breadcrumbs__separator {
	padding: 0 0.3em;

	font-size: 1.1em;
}

.breadcrumbs__item {
	text-decoration: none;

	color: dimgrey;

	font-family: Poppins, serif;
	font-size: 0.9em;
}


/* ======================== BLOCK ====================== */

.block {
	width: 55em;
	padding: 1.5em 2em;

	border-radius: var(--blockBorderRadius);
	background-color: var(--blockBgColor);
	box-shadow: var(--boxShadow);
}


/* ======================= HEADLINES =================== */

.details-title {
	margin: 1em 0 var(--space) 0;

	text-align: center;
	text-transform: uppercase;

	color: var(--accentColor);

	font-family: var(--fontFamily);
}

.headline-h4 {
	margin: 1em 0 2em 0;

	text-align: center;
	text-transform: uppercase;

	color: var(--accentColor);
}

.headline-h4_red {
	margin: 1em 0 2em 0;

	text-align: center;
	text-transform: uppercase;

	color: var(--errorColor);
}


/* ====================== CONTENT ====================== */

.content {
	display: flex;
	flex-direction: column;

	padding: 0.5em 0;
}


/* ========================= LABEL ===================== */

.label {
	margin: 0.3em 0;

	color: var(--accentColor);

	font-family: var(--fontFamily);
	font-size: 0.85em;
	font-weight: 900;
}


/* ======================== INPUT ====================== */

.input {
	height: 2em;
	padding: var(--inputPadding);

	border: none;
	border-bottom: var(--border);
	outline: var(--outline);
	background-color: transparent;

	font-family: var(--fontFamily);
	font-size: var(--inputFontSize);
}

.input:focus {
	border: none;
	border-bottom: var(--borderActive);
}

.input:focus::placeholder {
	transition: var(--placeholderTransition);

	opacity: var(--placeholderOpacity);
}


/* ======================= TEXTAREA ==================== */

.textarea {
	height: 10em;
	padding: var(--inputPadding);

	resize: none;
	text-align: justify;

	border: var(--border);
	border-radius: var(--borderRadius);
	outline: var(--outline);
	background-color: transparent;

	font-family: var(--fontFamily);
	font-size: var(--inputFontSize);
}

.textarea:focus {
	border: var(--borderActive);
}

.textarea:focus::placeholder {
	transition: var(--placeholderTransition);

	opacity: var(--placeholderOpacity);
}


/* ======================== SELECT ===================== */

.select {
	border: var(--border);
	border-radius: var(--borderRadius);
	outline: var(--outline);

	font-family: var(--fontFamily);
	font-size: var(--inputFontSize);
}

.select:focus {
	border: var(--borderActive);
}


/* ======================== BUTTON ===================== */

.button {
	margin: 1.5em 0;
	padding: 0.5em 1em;

	cursor: pointer;
	transition: var(--buttonTransition);
	text-decoration: none;
	text-transform: uppercase;

	color: white;
	border: none;
	border-radius: var(--borderRadius);
	outline: var(--outline);
	background-color: var(--accentColor);

	font-family: var(--fontFamily);
	font-size: 0.8em;
}

.button:active {
	background-color: var(--buttonActive);
	-webkit-box-shadow: var(--buttonShadow);
	-moz-box-shadow: var(--buttonShadow);
	box-shadow: var(--buttonShadow);
}

.button_color_blue {
	background-color: var(--accentColor);
}

.button_color_red {
	background-color: var(--errorColor);
}

