:root {
	--accentColor: #2856B6;
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #f2f2f2;
}

#root {
	display: flex;
	height: 100%;
	flex-direction: column;
}

.breadcrumbs__div {
	margin: 2em 0;

	text-align: center;
}

.breadcrumbs__i {
	padding: 0 0.3em;

	font-size: 1.1em;
}

.breadcrumbs-item {
	text-decoration: none;

	color: dimgrey;

	font-family: Poppins, serif;
	font-size: 0.9em;
}

main {
	flex: 1 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

footer {
	flex: 0 0 auto;
	height: 1em;
	background-color: var(--accentColor);
	margin-top: 4em;
}
