.app-header {
	background-color: var(--accentColor);
}

.app-header__nav {
	display: flex;
	align-items: center;

	height: 100%;
	padding: 0 3em;
}

.logo {
	flex-grow: 2;
}

.logo__title {
	color: white;

	font-family: Satisfy, cursive;
	font-size: 2em;
	font-weight: 900;
}
