/* =================== ADVERT-DETAILS ================= */

.advert-details {
	width: 55em;
	padding: 1.5em 0;

	border-radius: var(--blockBorderRadius);
	background-color: var(--blockBgColor);
	box-shadow: var(--boxShadow);

	font-family: var(--fontFamily);
}

.advert-details__img {
	width: 100%;
	margin-bottom: var(--space);
}

.advert-details-content {
	margin: 0 var(--space);
}


/* ===================== DESCRIPTION =================== */

.content-description {
	display: flex;
	align-items: flex-end;

	margin: var(--space) 0;
}

.content-description__text {
	flex-grow: 2;

	text-align: justify;
}

.content-description__price {
	margin-top: 0;
	padding-left: var(--space);

	color: var(--accentColor);

	font-size: 1.5em;
	font-weight: 900;
}


/* ======================== CONTACTS =================== */

.content-contacts {
	margin: var(--space) 0;
}

.content-contacts-text {
	display: flex;
	flex-wrap: wrap;
}

.contacts-text-p-item {
	display: flex;
	align-items: center;

	padding-right: 2em;
}

.contacts-text-p-item__img {
	height: 1.35em;
	padding-right: 0.4em;
}

.contacts-text-p-item__username {
	text-decoration: none;

	color: black;
}

.contacts-text-p-item__username:hover {
	transition: var(--titleTransition);

	color: var(--accentColor);
}


/* ======================= ADDITIONALLY ================= */

.content-additionally {
	display: flex;
	flex-wrap: wrap;

	margin: var(--space) 0;
}

.content-additionally__div-item {
	padding-right: 2em;
}

/* =============== ADVERT-DETAILS__OPTIONS =============== */

.content-options {
	display: flex;
	justify-content: space-between;
}

.content-options__delete-form {
	display: inline;

	padding: 0;
}
