:root {
    --accentColor: #2856B6;
}

.app-header {
	height: 3em;

	background-color: var(--accentColor);
}

.app-header__nav {
	display: flex;
	align-items: center;

	height: 100%;
	padding: 0 3em;
}

.app-header__logo {
	flex-grow: 2;

	color: white;

	font-family: Satisfy, cursive;
	font-size: 2em;
	font-weight: 900;
}
